.container {
  max-width: 140rem;
  padding: 2.7rem 3rem;
  display: flex;
  justify-content: space-between;
}

header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

ul {
  display: flex;
  gap: 3.2rem;
}
